*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #18181b;
}
.wrapper-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.left-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}
.icon-option {
  height: 50px;
  margin-right: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.box {
  background-color: #2e2e31;
  border-radius: 0.5rem;
  width: 90px;
  height: 80px;

  box-shadow: inset -5px -5px 10px #1f1e1e, inset 5px 5px 10px #413c3c;
  border: 1px solid #2e2e31;
  -webkit-box-shadow: inset 0px -1px 18px 5px #000000;
  box-shadow: inset 0px -1px 18px 5px #000000;
}

.container {
  display: grid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1%);
  grid-gap: 10px;
  grid-template-rows: 140px 140px 140px 140px 140px 140px 140px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
}
.container-header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/9;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 5% 35% 19% 35% 5%;
  grid-gap: 10px;
}

.form-element {
  position: relative;
  background-color: #1b1b1d;
  border-radius: 1rem;
  border: 1px solid #2e2e31;
  overflow: hidden;
  -webkit-box-shadow: inset 0px -1px 18px 5px #000000;
  box-shadow: inset 0px -1px 18px 5px #000000;
}
.container-heade-right {
  grid-row: 1/2;
  grid-column: 4/5;
}

.container-heade-left {
  grid-row: 1/2;
  grid-column: 2/3;
}
.wh-img {
  width: 35%;
}

.container-main {
  text-align: center;
  display: grid;
  grid-row: 2/5;
  grid-column: 1/11;
}

.btn {
  width: 12%;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

.difficulty:hover {
  cursor: pointer;
}

.box:hover {
  box-shadow: 0.5px 0.5px 10px #dedede, -0.5px -0.5px 10px #e2e2e2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.box.show:hover {
  cursor: auto;
  pointer-events: none;
}

.difficulty {
  display: flex;
  width: 15%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: #27272a;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.dropdown {
  left: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, 45%);
  width: 100%;
  position: absolute;
  display: none;
  flex-direction: column;
}
.dw-element {
  background-color: #27272a;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.dw-element:hover {
  background-color: #323235;
}

.lcd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.glass {
  -webkit-box-shadow: inset 0px -1px 18px 5px rgba(120, 120, 120, 0.6);
  box-shadow: inset 0px -1px 18px 5px rgba(120, 120, 120, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    147deg,
    rgba(153, 153, 153, 0) 0%,
    rgba(255, 255, 255, 0.31) 48%,
    rgba(255, 255, 255, 0.44) 49%,
    rgba(39, 39, 39, 1) 80%
  );
}

.lcd-box {
  padding: 1rem;
  -webkit-box-shadow: inset 0px -1px 28px 6px rgba(120, 120, 120, 0.6);
  box-shadow: inset 0px -1px 28px 5px rgba(120, 120, 120, 0.116);
  background: linear-gradient(
    147deg,
    rgba(153, 153, 153, 0) 1%,
    rgba(255, 255, 255, 0) 48%,
    rgba(255, 255, 255, 0.037) 30%,
    rgba(39, 39, 39, 0.158) 70%
  );
}

main {
  text-align: center;
}

#menu.active .dropdown {
  display: block;
  animation: opacity 0.3s ease-in-out;
}

#menu.active .rotate {
  animation: rotate 0.3s ease-in-out forwards;
}

#menu .rotate {
  animation: antirotate 0.3s ease-in-out forwards;
}
@keyframes antirotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.option-menu {
  display: none;
}

#toggler.show {
  display: flex;
  animation: opacity 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  z-index: 1;
  width: 28%;
  height: 70%;
  top: 0;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: #28282a;
  -webkit-box-shadow: 1px 3px 15px -1px #ffffff;
  box-shadow: 1px 3px 15px -1px #ffffff;
}

.box.show {
  animation: boxActive 0.3s ease-in-out forwards;
}

@keyframes boxActive {
  0% {
    box-shadow: 0.5px 0.5px 10px #dedede, -0.5px -0.5px 10px #e2e2e2;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-box-shadow: 0px 1px 32px -7px #7af700;
    box-shadow: 0px 1px 32px -7px #7af700;
    background-color: #22c011;
  }
}

.start {
  background-image: url("img/sfondoStart.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#dpNone.show {
  animation: dissolve 0.3s ease-in-out forwards;
  display: none;
}

div.box.bomb {
  animation: boxBomb 0.3s ease-in-out forwards;
}
@keyframes boxBomb {
  0% {
    box-shadow: 0.5px 0.5px 10px #dedede, -0.5px -0.5px 10px #e2e2e2;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-box-shadow: 0px 1px 32px -7px #ff0000;
    box-shadow: 0px 1px 32px -7px #ff1e00;
    background-color: #ff0000;
    cursor: pointer;
  }
}

/* schermata gameover */
#lose.show {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: #2b2b2b88;
  display: flex;
  animation: opa 0.6s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}
#lose.show .left-part {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 2rem;
  transition: all 0.5s ease-in-out;
}
#lose.show .icon-option {
  display: none;
  transition: all 0.5s ease-in-out;
}
.score {
  display: flex;
  gap: 0.2rem;
  transition: all 0.5s ease-in-out;
}
#lose.show .dispayNon {
  display: block;
  transition: all 0.5s ease-in-out;
}
/* bottone play agains */

.btn-play {
  background-color: #22c011;
  color: white;
  padding: 1rem;
  display: none;
  border-radius: 0.5rem;
}
#lose.show .btn-play {
  display: block;
}
.btn-play:hover {
  background-color: #27d014;
  cursor: pointer;
}

.btn-play:active {
  background-color: #2be216;
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapperIcon {
  display: flex;
  align-items: center;
  z-index: 100;
}

.time {
  display: flex;
}

#win.show {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: #2b2b2b88;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  animation: opa 0.6s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}

#win.show .dispayNon {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.txt-animated {
  animation: multicolor 5s infinite ease-in-out;
}

@keyframes multicolor {
  0% {
    color: #22c011;
  }
  10% {
    color: red;
  }
  20% {
    color: blue;
  }
  30% {
    color: violet;
  }
  40% {
    color: purple;
  }
  50% {
    color: aqua;
  }
  60% {
    color: yellow;
  }
  70% {
    color: azure;
  }
  80% {
    color: darkblue;
  }
  90% {
    color: beige;
  }
  100% {
    color: coral;
  }
}

.txt-yellow-Animated {
  animation: yellowAnimated 3s infinite ease-in-out;
}

@keyframes yellowAnimated {
  0% {
    color: yellow;
  }
  50% {
    color: green;
  }
  70% {
    color: red;
  }
  100% {
    color: blue;
  }
}

.btn-play-again {
  padding: 1rem;
  background-color: #27d014;
  border-radius: 0.5rem;
}

.btn-play-again:hover {
  background-color: #2bdc17;
  cursor: pointer;
}

.title {
  display: flex;
}

#vibe.show {
  animation: vibrazione 0.2s ease-in-out;
}

@keyframes vibrazione {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.icon-option.remove {
  display: none;
}

.input {
  width: 90%;
  text-align: center;
  padding: 1rem;
  border: none;
  border-bottom: 3px solid rgb(138, 138, 138);
  outline: none;
  background-color: transparent;
  color: white;
  margin: auto;
  font-family: "Press Start 2P", system-ui;
  margin: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border {
  width: 50%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.btn-sub {
  width: 20%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #1db10c;
  color: white;
}

.btn-sub:hover {
  background-color: #22c011;
}