@media (max-width: 1580px) {
  .container {
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 1%);
    grid-gap: 10px;
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
  }

  .container-header {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/9;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1% 31% 10% 31% 5%;
    grid-gap: 10px;
  }
  .container-main {
    display: grid;
    grid-row: 2/9;
    grid-column: 1/9;
    grid-template-rows: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
    gap: 0.8rem;
  }
  .btn {
    width: 10%;
  }
  .wh-img {
  width: 25%;
}
.wh-gif{
  width: 50%;
}
.wrapper-nav{
  padding: 1rem;
}
.font-big-medium{
  font-size: 1.6rem;
}
.font-medium{
  font-size: 1rem;
}
}

